.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 5vw;
  width: 100%;
  margin: auto;

  background-color: #283845;
  color: #e0e0e0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1vw;
  box-sizing: border-box;
  z-index: 100;
}

.toolbar-input__container{
    width: 40vw;;
}


.toolbar-input__task,
.toolbar-input__task:focus {
  height: 3vw;

  background-color: #202c39;
  color: #f2d492;

  border-radius: 10px 0 0 10px;
  border: #f2d492 solid 2px;
  border-right: none;

  padding: 10px;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.toolbar-input__confirm {
  width: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2d492;
  color: #202c39;

  border: none;
  border-radius: 10px;
  border: solid 2px #f2d492;

  transition: 300ms;

  &:hover {
    background-color: #202c39;
    color: #f2d492;
  }
}

.toolbar-visual__switch{
  position: absolute;
  left: 3vw;
  width: 2.75vw;
  height: 2.75vw;

  background-color: #202c39;

  border: #f2d492 solid 2px;
  border-radius: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f2d492;

  transition: 300ms;

  &:hover {
    background-color: #f2d492;
    color: #202c39;
  }
}

.toolbar-sort__container{
  position: absolute;
  right: 3vw;

  width: 9vw;
  height: 2.75vw;

  box-sizing: border-box;
  color: #f2d492;
  background-color: #202c39;

  border-radius: 10px;
  border: #f2d492 solid 2px;
}

.toolbar-sort__select{
  color: #f2d492;
  background-color: #202c39;

  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.toolbar-sort__icon{
  width: 2vw;

  background-color: transparent;
  border: none;
  border-left: #f2d492 solid 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2d492;

  padding: 0;
}