.task{
    height: auto;
    min-height: 5vw;
    width: 100%;

    background-color: #283845;

    border-radius: 10px;
    border: solid 2px #1F2B35;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1vw;
}

.task__title{
    color: #f2d492;
    line-break: auto;
    margin: 0.5rem 1rem;
}

.task__complete{

}

.task__controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: auto;
}

.task-button{
    background-color: transparent;
    border: none;
    color: #f2d492;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.1);
    }
}

.task__title__input{
    min-height: 3vw;
    height: auto;
    width: 50vw;

    border: none;
    background-color: #202c39;
    color: #f2d492;

    border-radius: 10px;

    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

